/* line 15, colors.sass */
.is--golden {
  color: #f1dca5; }

/* line 18, colors.sass */
.is--anthracit {
  color: #40444f; }

/* line 21, colors.sass */
.is--lightblue {
  color: #00b8ff; }

/* line 24, colors.sass */
.is--darkblue {
  color: darkblue !important; }
